### INFSCI 2750 -  Cloud Computing Mini Project 3
### Data Preprocessing


### Members:

### 1. Aishwarya Jakka, aij12@pitt.edu
### 2. Shreyank Ranganath, shr74@pitt.edu
### 3. Kwesi Aguillera, kra40@pitt.edu

In [ ]:
import pandas as pd 
import numpy as np

# Choosing only fields - 'IP' and 'Path'
fields = [0,5]
df = pd.read_csv("access_log", sep=" ",  error_bad_lines=False, usecols=fields, names = ['IP', 'Path'])

In [13]:
df.head()

               IP                                Path
0  10.223.157.186                      GET / HTTP/1.1
1  10.223.157.186           GET /favicon.ico HTTP/1.1
2  10.223.157.186                      GET / HTTP/1.1
3  10.223.157.186   GET /assets/js/lowpro.js HTTP/1.1
4  10.223.157.186  GET /assets/css/reset.css HTTP/1.1

In [5]:
# Adding ID Column
df['ID'] = df.index

In [6]:
df.head()

               IP                                Path  ID
0  10.223.157.186                      GET / HTTP/1.1   0
1  10.223.157.186           GET /favicon.ico HTTP/1.1   1
2  10.223.157.186                      GET / HTTP/1.1   2
3  10.223.157.186   GET /assets/js/lowpro.js HTTP/1.1   3
4  10.223.157.186  GET /assets/css/reset.css HTTP/1.1   4

In [7]:
# Rearranging Column Order
df = df[['ID', 'IP', 'Path']]

In [8]:
df.head()

   ID              IP                                Path
0   0  10.223.157.186                      GET / HTTP/1.1
1   1  10.223.157.186           GET /favicon.ico HTTP/1.1
2   2  10.223.157.186                      GET / HTTP/1.1
3   3  10.223.157.186   GET /assets/js/lowpro.js HTTP/1.1
4   4  10.223.157.186  GET /assets/css/reset.css HTTP/1.1

In [9]:
# Save new csv
df.to_csv('access_logs.csv',index=False, header=True)

In [22]:
# Read new csv
df = pd.read_csv("access_logs.csv")

In [23]:
df.head()

   ID              IP                                Path
0   0  10.223.157.186                      GET / HTTP/1.1
1   1  10.223.157.186           GET /favicon.ico HTTP/1.1
2   2  10.223.157.186                      GET / HTTP/1.1
3   3  10.223.157.186   GET /assets/js/lowpro.js HTTP/1.1
4   4  10.223.157.186  GET /assets/css/reset.css HTTP/1.1

In [24]:
df['Method'], df['Path'] = df['Path'].str.split(' ',1).str

In [25]:
df.head()

   ID              IP                            Path Method
0   0  10.223.157.186                      / HTTP/1.1    GET
1   1  10.223.157.186           /favicon.ico HTTP/1.1    GET
2   2  10.223.157.186                      / HTTP/1.1    GET
3   3  10.223.157.186   /assets/js/lowpro.js HTTP/1.1    GET
4   4  10.223.157.186  /assets/css/reset.css HTTP/1.1    GET

In [26]:
df['Path'], df['Protocol'] = df['Path'].str.split(' ',1).str

In [27]:
df.head()

   ID              IP                   Path Method  Protocol
0   0  10.223.157.186                      /    GET  HTTP/1.1
1   1  10.223.157.186           /favicon.ico    GET  HTTP/1.1
2   2  10.223.157.186                      /    GET  HTTP/1.1
3   3  10.223.157.186   /assets/js/lowpro.js    GET  HTTP/1.1
4   4  10.223.157.186  /assets/css/reset.css    GET  HTTP/1.1

In [28]:
df.to_csv('logs_w_Method_Protocol.csv',index=False, header=True)

In [29]:
df.drop('Method', axis=1, inplace=True)

In [30]:
df.drop('Protocol', axis=1, inplace=True)

In [31]:
df.head()

   ID              IP                   Path
0   0  10.223.157.186                      /
1   1  10.223.157.186           /favicon.ico
2   2  10.223.157.186                      /
3   3  10.223.157.186   /assets/js/lowpro.js
4   4  10.223.157.186  /assets/css/reset.css

In [32]:
df.to_csv('access_logs_paths.csv',index=False, header=True)

### Number of mising values

In [39]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data[missing_data.Total>0]

      Total   Percent
Path     26  0.000006